{
	'parser': 'babel-eslint',
	'extends': 'airbnb',
	'env': {
		'jest': true,
	},
	'rules': {
		// Tabs for indentation
		'indent': ['error', 'tab'],
		'no-tabs': 'off',
		'react/jsx-indent': ['error', 'tab'],
		'react/jsx-indent-props': ['error', 'tab'],

		// More sensible max line length
		'max-len': ['error', 120],

		// Consistency, even if there is only one param
		'arrow-parens': ['error', 'always'],

		// Avoid directly mutating the state
		'react/no-direct-mutation-state': 'error',

		// React native does not support .jsx
		'react/jsx-filename-extension': ['error', { 'extensions': ['.js', '.jsx'] }],

		// I have seen no arguments against use of ++ that don't boil down to "understand what an operator does before you
		// use it"
		'no-plusplus': 'off',
	},
}
