# Keystore to use for all release types, unless overridden
storeFile=app.keystore
storePassword=password

# Key to sign debug builds
debugStoreFile=~/.android/debug.keystore
debugStorePassword=android
debugKeyAlias=androiddebugkey
debugKeyPassword=android

# Key to sign beta builds
# betaStoreFile=beta.keystore
# betaStorePassword=password
betaKeyAlias=beta
betaKeyPassword=password

# Key to sign release builds
# releaseStoreFile=release.keystore
# releaseStorePassword=password
releaseKeyAlias=release
releaseKeyPassword=password
